*{
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
body{
    overflow-x: hidden
}
html{
    scroll-behavior: smooth;
}
img{
    z-index: 1;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 20;
    border-bottom: 2px solid #ddd;
}
.logo-container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    height: 80px;
    width: 80px;
    max-width: 100%;
    object-fit: contain;
}
.navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container{
    display: none;
}
.menu-list{
    display: none;
    overflow-x: hidden;
}
.navlist{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}
.tab a{
    text-decoration: none;
    font-family: varela round;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: black;
    margin-right: 40px;
}
.tab a:hover{
    color: #03a9f4;
}
.play-icon{
    position: absolute;
    margin: auto;
    left: 45%;
    top: 40%;
    height: 130px;
    width: 130px;
}
.login-container{
    width:40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-btn{
    width: 200px;
    padding: 8px;
    text-decoration: none;
    border: 2px solid #03a9f4;
    color: #03a9f4;
    font-family: poppins;
    letter-spacing: 1px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
}
.contact-btn:hover{
    background-color: #03a9f4;
    color: white;
    transition: .5s ease-in-out;
}
.podcast-landpage{
    padding: 0px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.podcast-land-img-container{
    width: 55%;
    padding: 40px 0px 0px 0px;
    position: relative;
    background: linear-gradient(90deg,rgb(230, 240, 243) 20% , transparent 100%) ;
}
.podcast-land-img{
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.audio-section{
    width: 55%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}
.audio-section h1{
    font-family: poppins,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 20px 0px 20px 0px;
   
}
.audio-section p{
    font-family: roboto, sans-serif;
    line-height: 25px;
}
.audio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 10x 0px;
}
audio{
    margin-top: 10px;
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 50%;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 5px 0px 10px 0px;
}
.social-media p{
    text-transform: uppercase;
    font-family: roboto;
}
.about-podcast{
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.about-podcast-head{
    font-family: poppins;
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 100%;
    padding: 10px 0px 20px 0px;
}
.podcast-p{
    line-height: 25px;
    width: 80%;
    margin-right: auto;
    font-family: roboto;
}
.about-podcast-card-container{
    padding: 0px 0px 0px 20px;
    background-color: #03a9f4;
    margin: 20px 0px 20px 0px;
}
.about-podcast-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
}
.podcast-profile{
    height: 300px;
    width: 40%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.podcast-profile h1{
    font-family: poppins;
    text-transform: capitalize;
}
.podcast-profile p{
    font-family: varela round;
}
.podcast-profile-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.podcast-text{
    width: 40%;
    padding: 0px 0px 0px 20px;
    font-family: roboto;
    line-height: 25px;
}
.recent-podcast-section{
    padding: 20px 0px 20px 0px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
}
.recent-postcast-header{
    width: 100%;
    padding: 10px;
}
.recent-postcast-header h1{
    font-family: poppins;
    font-size: 1.5rem;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
}
.recent-postcast-header p{
    font-family: roboto;
    line-height: 25px;
    width: 40%;
}
.podcast-card-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
   
}
.recent-podcard{
    width: 350px;
    margin: 10px;
    background-color: white;
    position: relative;
}
.microphone-container{
    position: absolute;
    left: 80%;
    top: 2%;
    height: 50px;
    width: 50px;
    
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.micro-phone{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 9px;
    margin-right: 1px;
}
.for-landpage{
    top: 7%;
    left: 90%;
}
.recent-podcast-img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.recent-podcard h1{
    padding: 10px 0px 10px 0px;
    font-family: poppins;
    text-transform: capitalize;
}
.recent-podcard p{
    font-family: roboto;
    line-height: 25px;
    opacity: .8;
}
.recent-podcast-icon-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
}
.learn-more{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: roboto;
   }
   
   .learn-more {
    width: 12rem;
    height: auto;
   }
   
   .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #03a9f4;
    border-radius: 1.625rem;
   }
   
   .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   .learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #03a9f4;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
   
.foot1{
    width: 30%;
    align-self: flex-start;
}
.foot-1-links{
    padding: 10px 0px 10px 0px;
}
.foot-1img-cotainer{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: white;
    font-family: roboto;
    line-height: 25px;
}

.foot1 h2{
    color: white;
    font-family: poppins;
    margin-bottom: 15px;
    border-bottom: 5px solid #03a9f4;
    width: 180px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.foot1 p{
    line-height: 25px;
    font-family: roboto;
    color: white;
    font-size: 1.1rem;
}
.social-media-handle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    padding: 10px;
    align-self: flex-start;
    background-color: white;
    margin-top: 30px;
}
.social-icon{
   height: 50%;
   width: 10%;
    object-fit: contain;
}
.foot1 li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0;
}
.foot1 a{
    color: white;
    width: 80%;
    text-decoration: none;
    font-family: varela round;
}
.input{
    width: 100%;
    height: 52px;
    text-indent: 20px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-family: varela round;
    font-size: 1.2rem;
}
.footer-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
.learn-more-btn{
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-family: varela round;
    color: #fff;
    width: 200px;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    z-index: 1;
    margin-top: 20px;
   }
   
   .learn-more-btn:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .learn-more-btn:before {
    content: '';
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   .learn-more-btn:hover::before {
    filter: blur(20px);
   }
   
   .learn-more-btn:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#7e0ddb,#03a9f4);
   }
footer{
    background:black ;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}
@media (max-width:1024px) and (min-width:768px) {
    .login-container{
        width: 20%;
        margin-left: 30px;
    }
    .tab a{
        margin-right:30px ;
    }
    .podcast-land-img-container{
        width: 90vw;
    }
    .audio-section{
        width: 90vw;
    }  
    .about-podcast-card-container{
        height: auto;
    }
    .podcast-profile {
        width: 100%;    
    }
    .announce-land-img{
        width: 100%;
        height: 300px;
    }
     .about-podcast{
        width: 95vw;
    }
    
    .about-podcast-card-container{
        height: auto;
        width: 95vw;
    }
    .all-announcement-card-container{
        width: 95vw;
    }
    .podcast-card-container, .recent-postcast-header{
        width: 95vw; 
    }
    .help-card-container{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:767px) {
    .podcast-land-img-container{
        width: 90vw;
    }
    .audio-section{
        width: 90vw;
    }
    .about-podcast-card{
        flex-direction: column;
        height: auto;
    }
    .about-podcast-head{
        width: 90%;
        margin: auto;
        font-size: 1.5rem;
    }
    .line{
        margin: auto;
    }
    .about-podcast{
        width: 90vw;
    }
    .recent-postcast-header {
        width: 90vw;
    }
    .about-podcast-card-container{
        height: auto;
    }
    .podcast-profile {
        width: 100%;    
    }
    .announce-land-img{
        width: 100%;
        height: 300px;
    }
    .podcast-text{
        width: 100%;
    }
    
    .podcast-text h1, .podcast-text h2, .podcast-text p{
        width: 100%;
    }
    .all-announcement-card-container{
        padding: 20px 0px 20px 0px ;
    }
    .all-announcement-card-container,.podcast-card-container{
        flex-direction: column;
        width: 90vw;
    }
    .announcement-header p{
        width: 80%;
    }
    .recent-podcard{
        width: 95%;
    }
    .help-card-container{
        flex-direction:column;
    }
    .login-container{
        display: none;
    }
    .menu-container{
        width: 60px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
     
    }
    .menu-line{
        height: 4px;
        width: 35px;
        border-radius: 5px;
        background-color: black;
        margin: 3px;
    }
    .navbar{
        width: 0%;
        overflow-x: hidden;
    }
    .search-container{
        display: none;
    }
    .menu-list{
        width: 0%;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        background:rgba(0, 0, 0, 0.897);
        height: 100%;
        z-index: 100;
        overflow-x: hidden;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        transition: .5s ease-in-out;
        z-index: 200;
    }
    
    .list-items{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 60%;
       
    }
    .menu-list li{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgba(17, 16, 16, 0.794);
        padding-bottom: 10px;
    }
   
    .menu-list a{
        display: flex;
        /* background-color: red; */
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: ubuntu;
    }
    .arrow{
        width: 5%;
        margin-left: auto;
        max-height: 80%;
        object-fit: contain;
    }
    .menu-list-login{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 40%;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.897);
        padding: 10px;
    }
    .close-btn{
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        margin-left: auto;
        cursor: pointer;
    }
    .navbar{
        display: none;
    }    
    .foot1{
        width: 90%;
        margin-top: 20px;
    }
    footer{
        flex-direction: column;
        padding-left: 30px;
    }
}
