.service-landpage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 50px 20px;
    background-image: url(../images/preacher.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.announcement-card{
    height: 400px;
    width: 70%;
    margin: auto;
    background: linear-gradient(160deg,#415eff8e 30%, transparent 70%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
}
.announcement-card h1{
    width: 100%;
    color: white;
    font-family: poppins;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0px 0px 20px 0px;
}
.announcement-card p{
    width: 60%;
    padding: 10px 0px 0px 0px;
    font-family: roboto;
    align-self: flex-start;
    line-height: 25px;
    color: white;
}
.announcement-card h2{
    font-weight: 400;
    width: 100%;
    font-family: poppins, sans-serif;
    color: white;
    text-transform: capitalize;
}
.announcement-readmore{
    width: 100%;
}
.help-section{
    /* padding: 25px 10px 25px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../images/chairs.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.help-card-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
   margin: auto;
}
.overlay{
    background: linear-gradient(180deg, #415eff8e  40%,#03a9f4 80%);
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.help-card{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px 10px 5px;
}
.help-card h1{
    width: 100%;
    font-family: poppins;
    text-align: center;
    padding: 20px 0px 10px 0px;
    text-transform: capitalize;
    color: white;
}
.help-card p{
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: roboto;
    line-height: 25px;
    padding: 10px 0px 10px 0px;
}
.help-img{
    height: 100px;
    width: 100%;
    object-fit: contain;
}
@media (max-width:1024px) and (min-width:768px){
    .announcement-card{
        flex-direction: column;
        height: auto;
    }
}
@media screen and (max-width:767px) {
    .announcement-card{
        flex-direction: column;
        height: auto;
        width: 100%;
        backdrop-filter: blur(5px);
    }
    .announcement-card p{
        width: 90%;
    }
}